/** layout */
.jumbotron {
    background-color: #007bff;
}
.jumbotron h1 {
    color: #fff;
}



/** 'Index' */
.btn {
    color: #fff;
    border-color: #005cbf;
    padding: .5rem 3.5rem;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .2rem;
}
.btn-primary {
    background-color: #007bff;
}
#index #statistics {
    padding: 4rem 0 0;
}
#index #stopContainer {
    padding: 4rem 0 0;
}
#index #stop {
    background-color: #e7e7e7;
    color: #555;
}


/** 'Cofig' */
#config h2 {
    font: 42px/52px Arial;
    color: #007bff;
}
#config #confings-path {
    position: relative;
    top: -1.2rem;
    font: 8px/8px Arial;
    color: #007bff;
}
/*div[class^=col]:has(> div.config-item) {
    padding: 0 1px;
}*/
#config .config-item {
    margin: 0 0 2px;
    border: 2px solid #09f;
    border-radius: 5px;
    line-height: 30px;
}
#config .config-item > div:first-child {
    background: #09f;
    color: whitesmoke;
}
#config .config-item > div:nth-child(2) {
    color: #007bff;
}
#content #statsConfig {
    color: #e8101e;
}